$loadingSpinnerHeight: 60;
$loadingSpinnerWidth: 60;

$loadingSpinnerChildWidth: 6;

ed-loading-spinner {
	display: block;

	height: rem($loadingSpinnerHeight);
	width: rem($loadingSpinnerWidth);

	font-size: rem(0);

	> div {
		display: inline-block;

		height: 100%;
		width: rem(8);

		background: $brand;

		+ div {
			margin-left: rem(4);
		}
	}
}
