<div
	layout
	layout-align="center center"
	layout-fill
	class="Animation--fade"
	ng-if="dashboard.repository.isLoadingMilestones"
>
	<ed-loading-spinner></ed-loading-spinner>
</div>
<div
	class="Dashboard-content Animation--fade"
	ng-if="!dashboard.repository.isLoadingMilestones"
>
	<section
		ng-repeat="group in dashboard.groups"
		ng-if="group.milestones.length"
	>
		<h4 class="Dashboard-title">{{ group.name }}</h4>
		<ed-milestone
			ng-repeat="milestone in group.milestones"
			model="milestone"
		></ed-milestone>
	</section>
</div>
