// Fade
// -------------------------
.Animation--fade.ng-enter, .Animation--fade.ng-leave {
	@include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s);
}

.Animation--fade.ng-enter,
.Animation--fade.ng-leave.ng-leave-active {
	opacity:0;
}

.Animation--fade.ng-leave,
.Animation--fade.ng-enter.ng-enter-active {
	opacity:1;
}


// Blink
// -------------------------
.Animation--blink {
	@include animation(blink 2s infinite ease-in-out);
}
@include keyframes(blink) {
	0%{ opacity: 1; }
	50%{ opacity: 0; }
	100% { opacity: 1; }
}


// Strecht Delay
// -------------------------
$animationStrechDelayDelay: 1.2s;

.Animation-stretchDelay {
	@include animation(stretchDelay $animationStrechDelayDelay infinite ease-in-out);

	@for $i from 1 through 4 {
		&:nth-child(#{$i + 1}) {
			@include animation-delay(-#{$animationStrechDelayDelay - ($i * 0.1)});
		}
	}
}
@include keyframes(stretchDelay) {
	0%, 40%, 100% {
		@include transform(scaleY(0.6));
	}

	20% {
		@include transform(scaleY(1.0));
	}
}
