// Colors
// -------------------------
$white: #fff;
$black: #262625;

$green: #5bb389;
$green--dark: #458a6a;

$brown: #dad0b9;
$brown--light: #faf6ee;

$grey: #ededed;
$grey--light: #fafafa;
$grey--dark: #cbcbcb;

// ----
$brand: $green;


// Layout
// -------------------------
$border-radius: 2px;
