// Colors
// -------------------------
$white: #fff;
$black: #262625;

$green: #5bb389;
$green--dark: #458a6a;

$red: #d9534f;
$red--light: #f9f2f6;

$brown: #dad0b9;
$brown--light: #faf6ee;

$grey: #ededed;
$grey--light: #fafafa;
$grey--dark: #cbcbcb;

// ----
$brand: $green;


// Layout
// -------------------------
$border-radius: 2px;

$baseline-grid:            8px !default;
$layout-breakpoint-sm:     600px !default;
$layout-breakpoint-md:     960px !default;
$layout-breakpoint-lg:     1200px !default;
$layout-gutter-width:      ($baseline-grid * 2) !default;
