$pageHeaderVerticalSpace: 16;
$pageHeaderHeight: 24 + 2 * $pageHeaderVerticalSpace;

.Page-header {
	margin: rem($pageHeaderVerticalSpace) rem(12);
}

.Page-content {
	max-width: rem(1000);
	@include calc(height, '100% - #{$pageHeaderHeight}px');

	padding: rem(24) 0;
	margin: 0 auto;
}
