$milestoneFontSize: 24;
$milestoneProgressHeight: 38;


// Milestone Root
// -------------------------
ed-milestone {
	display: block;
	background: $white;
	margin: 0 rem(30);

	@include shadow;

	// Hover
	&:hover:not([is-expanded]) {
		background: $grey--light;
		cursor: pointer;
	}

	// Borders
	&:first-child {
		border-radius: $border-radius $border-radius 0 0;
	}
	&:last-child {
		border-radius: 0 0 $border-radius $border-radius;
	}

	&[is-expanded] {
		margin: rem(30) 0;
		font-size: 120%;
		border-radius: $border-radius;

		@include shadow--highlight;
	}
}


// Milestone Header
// -------------------------
.Milestone-header {
	padding: 0 rem($whitespaceHorizontal);
}

.Milestone-title {
	margin: 0;
	padding: rem($whitespaceVertical) 0;

	font-size: em($milestoneFontSize);
	font-weight: 700;
	line-height: rem($milestoneProgressHeight);
}

.Milestone-subTitle {
	margin: rem($whitespaceVertical * 2) rem($whitespaceHorizontal) rem($whitespaceVertical);

	color: $grey--darkest;
	font-size: rem(20);
	font-weight: 300;
	line-height: 1;
}

.Milestone-number {
	color: $grey--dark;
	font-size: em(18);
	font-weight: 600;
	line-height: rem($milestoneProgressHeight);

	padding-right: rem(5);
}

.Milestone-progress {
	height: rem(38);
	width: rem(38);
}

.Milestone-collapse {
	display: none;

	padding: rem(11);
	margin-left: rem(10);
	margin-right: rem(-$whitespaceHorizontal);

	border-left: 1px solid $grey;

	cursor: pointer;

	path {
		fill: $grey--dark;
	}
	&:hover path {
		fill: $red;
	}

	[is-expanded] & {
		display: block;
	}
}


// Milestone Content
// -------------------------
.Milestone-content {
	height: 0;
	overflow-y: hidden;

	[is-expanded] & {
		height: auto;
	}
}

.Milestone-section {
	border-top: 1px solid #ededed;
}
