<div class="Milestone-header" layout layout-align="start center">
	<span class="Milestone-number">#{{ milestone.number }}</span>

	<h2
		class="Milestone-title"
		flex
		ed-attr-add="is-expanded"
		ed-attr-toggle-group="milestones"
		ed-attr-toggle-id="{{ milestone.number }}"
		ed-attr-toggle-closest="ed-milestone"
	>
		{{ milestone.title | untag }}
	</h2>

	<div
		class="Milestone-openPR Animation--blink"
		ng-if="(milestone.pull_requests | filter: { state: 'open' }).length"
	>PR!</div>
	<div class="Milestone-progress">
		<ed-progress
			percentage="milestone.progress"
		></ed-progress>
	</div>
	<div
		class="Milestone-collapse"
		ed-attr-remove="is-expanded"
		ed-attr-toggle-group="milestones"
		ed-attr-toggle-closest="ed-milestone"
	>
		<ed-icon name="close"></ed-icon>
	</div>
</div>
<div class="Milestone-content">


	<!-- Meta Data -->
	<section
		class="Milestone-section Milestone-meta"
		layout
		layout-align="start center"
	>
		<div flex>
			<a
				class="Milestone-metaItem has-Icon"
				ng-href="{{ milestone.html_url }}"
				target="_blank"
			><ed-icon name="github"></ed-icon> View on Github</a>
			<a
				class="Milestone-metaItem has-Icon"
				ng-click="milestone.refresh()"
			><ed-icon name="sync"></ed-icon> Refresh</a>
		</div>
		<div
			class="Milestone-metaItem is-last has-Icon"
		>
			<ed-icon name="time"></ed-icon>
			<time
				ng-if="milestone.due_on"
				date-time="{{ milestone.due_on }}"
				is-relative
			></time>
			<span ng-if="!milestone.due_on ">no due date</span>
		</div>
	</section>

	<!-- Description -->
	<section class="Milestone-section" ng-if="milestone.description">
		<h3 class="Milestone-subTitle">Description</h3>
		<div
			class="Milestone-description"
			btf-markdown="milestone.description"
		></div>
	</section>


	<!-- Issue Data -->
	<section ng-if="milestone.isLoadingIssues" class="Milestone-section">
		<div
			layout="column"
			layout-align="center center"
			layout-fill
			class="Animation--fade"
		>
			<ed-loading-spinner size="small"></ed-loading-spinner>
			<div class="LoadingSpinner-label">Loading Issues</div>
		</div>
	</section>
	<span ng-if="!milestone.isLoadingIssues">
		<!-- PRs -->
		<section class="Milestone-section">
			<h3 class="Milestone-subTitle">Pull Requests</h3>
			<ed-pull-request-list
				pull-requests="milestone.pull_requests"
			></ed-pull-request-list>
		</section>

		<!-- Issues -->
		<section class="Milestone-section" layout>
			<ed-issue-list
				class="IssueList--red"
				flex
				heading="ToDo"
				filter="{ assignee: '!!', state: '!closed', pull_request: '!!' }"
				issues="milestone.issues"
			></ed-issue-list>
			<ed-issue-list
				class="IssueList--yellow"
				flex
				heading="Doing"
				filter="{ assignee: '!!!', state: '!closed', pull_request: '!!' }"
				issues="milestone.issues"
			></ed-issue-list>
			<ed-issue-list
				class="IssueList--green"
				flex
				heading="Done"
				filter="{ state: 'closed', pull_request: '!!' }"
				issues="milestone.issues"
			></ed-issue-list>
		</section>
	</span>

</div>
