<div
	layout
	layout-align="center center"
	layout-fill
	class="Animation--fade"
	ng-if="list.isLoading"
>
	<ed-loading-spinner></ed-loading-spinner>
</div>
<div
	class="MilestoneList-content Animation--fade"
	ng-if="!list.isLoading"
>
	<section
		ng-repeat="group in list.groups"
		ng-if="group.milestones.length"
	>
		<h4 class="MilestoneList-title">
			{{ group.name }}
			<ed-icon
				name="done"
				ng-click="group.show_completed = !group.show_completed;"
				ng-class="{ active: group.show_completed }"
			></ed-icon>
		</h4>
		<ed-milestone
			ng-repeat="milestone in group.milestones"
			ng-if="group.show_completed || !milestone.completed"
			model="milestone"
			ed-attr-observe="{ 'is-expanded': list.adjustPosition }"
		></ed-milestone>
	</section>
</div>
