<div class="Milestone-header" layout layout-align="start center">
	<span class="Milestone-number">#{{ milestone.number }}</span>
	<h2
		class="Milestone-title"
		flex
		ed-add-attr="is-expanded"
		ed-toggle-attr-group="milestones"
		ed-toggle-attr-closest="ed-milestone"
	>
		{{ milestone.title }}
	</h2>
	<div class="Milestone-progress">
		<ed-progress
			percentage="milestone.issues.length ? (milestone.closed_issues/(milestone.closed_issues + milestone.open_issues)) : 0"
		></ed-progress>
	</div>
	<div
		class="Milestone-collapse"
		ed-remove-attr="is-expanded"
		ed-toggle-attr-group="milestones"
		ed-toggle-attr-closest="ed-milestone"
	>
		<ed-icon name="close"></ed-icon>
	</div>
</div>
<div class="Milestone-content">

	<!-- Description -->
	<div class="Milestone-description">

	</div>


	<!-- PRs -->
	<section class="Milestone-section">
		<h3 class="Milestone-subTitle">Pull Requests</h3>
		<ed-pull-request-list
			pull-requests="milestone.pull_requests"
		></ed-pull-request-list>
	</section>

	<!-- Issues -->
	<section class="Milestone-section" layout>
		<ed-issue-list
			class="IssueList--red"
			flex
			heading="ToDo"
			filter="{ assignee: null, state: '!closed', pull_request: '!' }"
			issues="milestone.issues"
		></ed-issue-list>
		<ed-issue-list
			class="IssueList--yellow"
			flex
			heading="Doing"
			filter="{ assignee: '!!', state: '!closed', pull_request: '!' }"
			issues="milestone.issues"
		></ed-issue-list>
		<ed-issue-list
			class="IssueList--green"
			flex
			heading="Done"
			filter="{ state: 'closed', pull_request: '!' }"
			issues="milestone.issues"
		></ed-issue-list>
	</section>

</div>
