<div layout layout-align="start center">
	<div class="Bug-priority" priority="{{ bug.priority }}"></div>
	<div flex>
		<h2
			class="Bug-title"
			ed-attr-add="is-expanded"
			ed-attr-toggle-group="bugs"
			ed-attr-toggle-closest="ed-bug"
		>{{ bug.title }}</h2>
		<div class="Bug-content" layout layout-align="start center">
			<a ng-href="{{ bug.html_url }}" target="_blank">#{{ bug.number }}</a>
			<div class="Bug-contentDivider"></div>
			<img
				class="Bug-assignee"
				ng-if="bug.assignee.avatar_url"
				ng-src="{{ bug.assignee.avatar_url + '&s=192' }}"
			>
			<span
				ng-if="!bug.assignee.avatar_url"
			>none</span>
			<div class="Bug-contentDivider"></div>
			<time
				date-time="{{ bug.created_at }}"
				is-relative
			></time>
		</div>
	</div>
</div>
