<!DOCTYPE html>
<html lang="en" ng-app="mps.ed">
<head>
	<meta charset="UTF-8">
	<title>ed</title>

	<link rel="stylesheet" href="<%= package.name %>.css">
</head>
<body>
	<div class="Page">

		<header class="Page-header">
			<h1 class="Brand">ED</h1>
		</header>

		<main class="Page-content">
			<ed-dashboard config="ED_GITHUB_CONFIG"></ed-dashboard>
		</main>

	</div>

	<script src="angular.js"></script>
	<script src="<%= package.name %>.template.js"></script>
	<script src="<%= package.name %>.js"></script>
</body>
</html>
