<!DOCTYPE html>
<html lang="en" ng-app="mps.ed">
<head>
	<meta charset="UTF-8">
	<title>ed</title>

	<link rel="stylesheet" href="<%= package.name %>.css">
</head>
<body>
	<div class="Page">

		<header class="Page-header">
			<h1 class="Brand">ED</h1>
		</header>

		<main class="Page-content">

				<ed-dashboard></ed-dashboard>


<!-- 			<div class="u-center-horizontal">
				<ed-loading-spinner></ed-loading-spinner>
			</div> -->



<!-- 			<span ng-init="amount = 33; max = 100;"></span>
			<input type="number" ng-model="amount">
			<input type="number" ng-model="max">
			<br>
			<ed-progress percentage="amount/max"></ed-progress> -->
		</main>

	</div>

	<script src="angular.js"></script>
	<script src="<%= package.name %>.template.js"></script>
	<script src="<%= package.name %>.js"></script>
</body>
</html>
