<!DOCTYPE html>
<html lang="en" ng-app="mps.ed">
<head>
	<meta charset="UTF-8">
	<title>ed</title>

	<link rel="stylesheet" href="<%= package.name %>.css">
</head>
<body>
	<header
		class="Page-header"
		layout
		layout-align="start center"
	>
		<h1 class="Brand">ED</h1>
		<div class="Page-menu" flex>
			<ed-page-menu-item route="/milestones">Milestones</ed-page-menu-item>
			<ed-page-menu-item route="/bugs">Bugs</ed-page-menu-item>
		</div>
		<ed-info-bar></ed-info-bar>
	</header>

	<main class="Page-content">
		<ng-view></ng-view>
		<!-- <ed-dashboard config="ED_GITHUB_CONFIG"></ed-dashboard> -->
	</main>

	<script src="vendor.js"></script>
	<script src="<%= package.name %>.template.js"></script>
	<script src="<%= package.name %>.js"></script>
</body>
</html>
